<div class="row">
    <div class="col-12">
        <h2 class="text-left text-uppercase">Servicio al ciudadano</h2>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="programs-grid mt-2">

                    <!-- Loop a través de los items obtenidos del servicio -->
                    <div *ngFor="let item of this.listCiudadano" class="card"
                        class="program border d-flex flex-column justify-content-between">

                        <div class="card-body text-center">
                            <span><i class="fa fa-hospital-o" style="font-size: 4rem;"></i></span>
                            <div class="d-flex justify-content-center">
                                <a href="{{ item.url_documento }}" target="_blank"
                                    class="ml-2 mb-2 font-weight-normal text-uppercase"
                                    style="color: rgb(0, 127, 198); cursor: pointer;"> {{ item.descripcion }}</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group input-buscar position-relative">
                            <input type="text" class="form-control" placeholder="Buscar">
                            <span class="fa fa-search icono-buscar"></span>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="input-buscar input-buscar--img">
                            <p class="interes">De tu interes</p>
                            <img src="../../../../../assets/img/2.jpg" alt="IUmagen">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>