.fondo-header {
    background-color: rgb(10, 131, 201);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 12px -5px rgba(154, 128, 158, 0.46);
}

.jaku-titulo {
    font-size: 2.5rem;
    color: whitesmoke;
    padding: 15px 0px;
}



h2 {
    font-size: 2rem;
    color: #30336b;
    margin-bottom: 1rem;
    text-align: center;
}

/* Grid Styles */
.programs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Para móviles, 2 columnas */
    gap: 2rem;
    margin: 0 auto;
}





.program h3 {
    font-size: 1rem;
    color: #222;
    margin: 0.5rem 0;
}





.contenedor-img {
    width: 100%;
    /* Ocupa el 100% del ancho del contenedor padre */
    height: 150px;
    /* Altura fija de 250px */
    overflow: hidden;
    /* Oculta el desbordamiento para que no se muestren partes recortadas */
}

.contenedor-img span i {
    font-size: 5rem;
}

.watch-button {
    padding: 10px 15px;
    background-color: rgb(10, 131, 201);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.watch-button:hover {
    background-color: #0056b3;
}

/* .tarjeta {
    margin-bottom: 15rem;
} */


/* input buscar */
.input-buscar-dos {
    padding: 20px;
    border-radius: 5px;

    background-color: rgb(96, 163, 219);
}

/* input buscar */
.input-buscar {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(226, 227, 228, 0.699);

}

.icono-buscar {
    position: absolute;
    top: 40%;
    right: 55px;
    transform: translateY(-50%);

}



.interes {
    font-size: 1.7rem;
    color: #30336b;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: normal;
}

.icono-interes {
    position: relative;
    width: 110px !important;
    height: 110px !important;
    border-radius: 50%;
    background-color: #eceef3;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.icono-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    color: rgb(0, 127, 198);
}

.titulo-interes {
    font-weight: 400;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}