<div class="row">
    <div class="col-12">
        <h2 class="text-left text-uppercase">Servicio al ciudadano</h2>
    </div>
    <div class="col-12 p-3">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="programs-grid  mt-2">

                    <!-- Loop a través de los items obtenidos del servicio -->
                    <a href="{{ item.url_documento }}" target="_blank" *ngFor="let item of this.listCiudadano"
                        class="program  mb-0">

                        <div class="card-body">

                            <div class="d-flex justify-content-center">
                                <div class="icono-interes">
                                    <i class="fa fa-hospital-o icono-main"
                                        style="font-size: 3.5rem; color: rgb(0, 127, 198);"></i>
                                </div>
                            </div>


                            <div class="d-flex justify-content-center mt-1">
                                <p class="ml-2 mb-2 titulo-interes text-uppercase text-dark text-center">
                                    {{item.descripcion }}</p>
                            </div>
                        </div>

                    </a>

                </div>

            </div>

            <!-- De tu interes -->
            <div class="col-12 col-md-4">
                <div class="row">

                    <div class="col-12">
                        <div class="form-group input-buscar-dos position-relative">
                            <input type="text" class="form-control" placeholder="Buscar">
                            <span class="fa fa-search icono-buscar"></span>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="input-buscar input-buscar--img">
                            <p class="interes">De tu interes</p>
                            <img class="img-fluid" src="../../../../../assets/img/prueba_corte.jpg" alt="IUmagen">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>