<footer class="footer-custom">
  <div class="footer-content">
    <div class="contact-info">
      <h3>Información de Contacto</h3>
      <p>{{ this.despacho?.despacho.direccion }}</p>
      <p>Telefonos: {{ this.despacho?.despacho.telefonos }}</p>
      <p>Email: {{ this.despacho?.despacho.email }}</p>
    </div>
    <div class="logo">
      <img src="./../../../../../assets/img/logo3.png" alt="Logo Gobierno Autónomo Departamental de Cochabamba" />
      <!-- <img src="" alt="logo" /> -->
    </div>
    <div class="social-media">
      <h3>Canales de Comunicación</h3>
      <a [href]="this.despacho?.despacho.linkTwitter" _target="blank"><i class="bi bi-twitter"></i></a>
      <a [href]="this.despacho?.despacho.linkFacebook" _target="blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.tiktok.com/@gobernaciondecochabamba"><i class="bi bi-tiktok" _target="blank"></i></a>
      <a [href]="this.despacho?.despacho.linkYoutube" _target="blank"><i class="bi bi-youtube"></i></a>
      <a href="#"><i class="bi bi-whatsapp" _target="blank"></i></a>
      <a href="#"><i class="bi bi-broadcast" _target="blank"></i></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="footer-bottom--text">&copy; {{ this.years }}, Gobierno Autónomo Departamental de Cochabamba</p>
  </div>
</footer>