<footer class="footer-custom">
  <div class="footer-content">
    <div class="contact-info">
      <h3>Información de Contacto</h3>
      <p>Dirección: Av. Siempre Viva 123, Cochabamba, Bolivia</p>
      <p>Teléfono: +591 4 1234567</p>
      <p>Email: contacto&#64;gobcochabamba.bo</p>
    </div>
    <div class="logo">
      <!-- <img src="./../../../../../assets/img/logo3.png" alt="Logo Gobierno Autónomo Departamental de Cochabamba" /> -->
      <img src="" alt="logo" />
    </div>
    <div class="social-media">
      <h3>Canales de Comunicación</h3>
      <a href="#"><i class="bi bi-twitter"></i></a>
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-tiktok"></i></a>
      <a href="#"><i class="bi bi-youtube"></i></a>
      <a href="#"><i class="bi bi-whatsapp"></i></a>
      <a href="#"><i class="mdi mdi-radio"></i></a>
      <a href="#"><i class="bi bi-broadcast"></i></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="footer-bottom--text">&copy; 2024, Gobierno Autónomo Departamental de Cochabamba</p>
  </div>
</footer>