<div class="row">
    <div class="fondo-header col-12">
        <h2 class="text-center noticias-titulo text-uppercase" (click)="ultimas()" style="cursor: pointer;">Noticias
        </h2>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-8">
        <div class="alert alert-danger mt-3" role="alert" [ngClass]="{'alerta': this.alerta}">
            El campo buscar noticia no puede estar vacio.
        </div>
    </div>
</div>

<div class="container-noticias">

    <div class="row justify-content-center">
        <!-- Sección de Categorías con Cuadro de Búsqueda -->
        <aside class="col-12 col-md-3 categories-container">
            <!-- Cuadro de búsqueda -->
            <div class="search-bar">
                <input type="text" placeholder="Buscar noticia..." id="search-input">
                <button class="btn-buscar" id="search-btn" (click)="this.buscarNoticias()">Buscar</button>
            </div>
            <h2 class="text-uppercase border p-2 text-white" style="background-color: rgb(0, 127, 198);">Secciones</h2>

            <!-- Solo la lista con scroll -->
            <div class="categories-list">
                <ul>
                    <!-- Aquí se colocarán hasta 50 categorías -->
                    <li class="mb-0 font-weight-normal" *ngFor="let item of this.categoriaNoticias">
                        <a (click)="verCategorias(item)" class="text-dark btn-categoria text-uppercase">{{item}}</a>
                    </li>
                    <!-- ... más categorías -->
                </ul>
            </div>
        </aside>

        <!-- Sección de Noticias -->
        <section class="col-12 col-md-8 news-section">


            <article
                *ngFor="let item of this.listaNoticias | paginate: { itemsPerPage: this.limite, currentPage: this.page, totalItems: this.totalItems } "
                class="news-card">
                <p class="news-title text-uppercase text-dark font-bold" style="font-size: 1.3rem;">{{ item.titulo }}
                </p>
                <p class="news-date font-bold text-dark">Publicado el {{ item.fecha }}</p>
                <img [src]="item.imagen" alt="Imagen de la noticia" class="news-image">
                <h5 class="news-subtitle text-uppercase text-dark font-bold">{{ item.antetitulo }}</h5>


                @if( this.titulo === 'ultimas' || this.titulo === 'categoria' ){
                <p class="news-description text-dark font-weight-normal" style="font-size: 16px;">{{ item.resumen }}
                </p>
                <a class="read-more-btn text-uppercase text-white" (click)="verMas(item.titulo)"
                    style="cursor: pointer;">Ver
                    más</a>
                } @else{
                <p class="news-description text-dark font-weight-normal" style="font-size: 16px;"
                    [innerHTML]="item.contenido"></p>
                }



            </article>

            <!-- Paginación con ngx-pagination -->
            <div class="pagination">
                <!-- Control de paginación -->
                <pagination-controls previousLabel="Anterior" nextLabel="Siguiente"
                    (pageChange)="this.pageChanged($event)">
                </pagination-controls>
            </div>
        </section>
    </div>

</div>


<app-footer-gadc></app-footer-gadc>