.fondo-header {
    background-color: rgb(10, 131, 201);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 12px -5px rgba(154, 128, 158, 0.46);
}

.gobernacion-radio {
    font-size: 2.5rem;
    color: whitesmoke;
    padding: 15px 0px;
}

.titulo-radio {
    font-size: 1.5rem;
}

.card-header--fondo {
    background-color: rgb(10, 131, 201);
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
}

.card-body__fondo {
    background-image: url('../../../../assets/img/logoradio.png');
    background-size: cover;
    height: 200px;
    background-repeat: no-repeat;

}

.radio-container {
    max-width: 450px;
    border: 1px solid rgb(201, 202, 204);
    border-radius: 5px;
}

.radio-header {
    font-size: 1.5rem;
    background: linear-gradient(60deg, rgb(102, 206, 246), rgb(10, 131, 201));
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
}

.radio-btn {
    border: none;
}

.btn-radio-online {

    color: rgb(10, 131, 201);
    border: none;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

.radio-btn div i {
    font-size: 1.7rem;
}

@media(min-width: 900px) {
    .footer-radio {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}