<div class="row">
    <div class="fondo-header col-12">
        <h2 class="text-center gobierno text-uppercase">GOBIERNO AUTÓNOMO DEPARTAMENTAL DE COCHABAMBA</h2>
    </div>

    <div class="col-12">

        <div class="container-gobierno">
            <!-- Sección de la autoridad con imagen y biografía -->
            <div class="header">
                <div class="profile">
                    <h3 class="text-uppercase">autoridad</h3>
                    <img src="../../../../assets/img/dog.jpg" alt="Humberto Sanchez Sanchez" class="profile-img">
                    <h4 class="font-weight-bold mt-2">Humberto Sánchez Sánchez</h4>
                </div>
                <div class="biography">
                    <h3>Biografía</h3>
                    <p>Humberto Sánchez nació en el municipio de Sacaba (Cochabamba)...</p>
                </div>
            </div>

            <!-- Misión -->
            <div class="section">
                <h3 class="">Misión</h3>
                <p>El Gobierno Autónomo Departamental de Cochabamba es una institución con autonomía política que...
                </p>
            </div>

            <!-- Visión -->
            <div class="section">
                <h3 class="">Visión</h3>
                <p>Ser un Gobierno Autónomo Departamental de gestión pública transparente y eficiente... </p>
            </div>

            <!-- Objetivos -->
            <div class="section">
                <h3 class="">Objetivos</h3>
                <p>Promover el desarrollo integral de la región asegurando una gestión pública eficiente y equitativa...
                </p>
            </div>

            <!-- Historia -->
            <div class="section">
                <h3 class="">Historia</h3>
                <p>La Ley N° 1654 del 28 de julio de 1995 creó la figura de los Gobiernos Departamentales Autónomos...
                </p>
            </div>

            <!-- Secretarías -->
            <div class="section">
                <h3>Organigrama</h3>
                <!-- Lista de secretarías aquí -->
            </div>
        </div>

    </div>

</div>

<app-footer-gadc></app-footer-gadc>