<div class="row">
    <div class="fondo-header col-12">
        <h2 class="text-center gobierno text-uppercase">GOBIERNO AUTÓNOMO DEPARTAMENTAL DE COCHABAMBA</h2>
    </div>

    <div class="col-12">

        <div class="container-gobierno">
            <!-- Sección de la autoridad con imagen y biografía -->
            <div class="header">
                <div class="profile">
                    <h3 class="text-uppercase">autoridad</h3>
                    <img [src]="this.despacho?.biografia.foto" [alt]="this.despacho?.biografia.nombreCompleto"
                        class="profile-img">
                    <h4 class="font-weight-bold mt-2">{{ this.despacho?.biografia.nombreCompleto }}</h4>
                </div>
                <div class="biography">
                    <h3>Biografía</h3>
                    <p>{{ this.despacho?.biografia.resenia }}</p>
                </div>
            </div>

            <!-- Misión -->
            <div class="section">
                <h3 class="">Misión</h3>
                <p>{{ this.despacho?.despacho.mision }}
                </p>
            </div>

            <!-- Visión -->
            <div class="section">
                <h3 class="">Visión</h3>
                <p>{{ this.despacho?.despacho.vision }}</p>
            </div>

            <!-- Objetivos -->
            <div class="section">
                <h3 class="">Objetivos</h3>
                <p>{{ this.despacho?.despacho.objetivo }}</p>
            </div>

            <!-- Historia -->
            <div class="section">
                <h3 class="">Historia</h3>
                <p>{{ this.despacho?.despacho.historia }}</p>
            </div>

            <!-- Secretarías -->
            <div class="section">
                <h3>Organigrama</h3>
                <!-- Lista de secretarías aquí -->
            </div>
        </div>

    </div>

</div>

<app-footer-gadc></app-footer-gadc>