<div class="row">
  <div class="col-12">
    <h2 class="text-left television__titulo">Transmisión en vivo</h2>
  </div>

  <!-- Tv en vivo -->
  <div class="col-12 mt-4">
    <div class="container-tv">
      <div class="program">

        <div class="video-player">
          <!-- Iframe para YouTube en vivo -->
          <iframe width="100%" height="400" [src]="this.videoUrlFacebook" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>

        <div class="program-details">
          <h4>Nombre del Programa</h4>
          <p class="time">Horario: 18:00 - 19:00</p>
          <p class="description">
            Descripción del programa: Un resumen breve de lo que trata el programa,
            incluyendo información sobre los temas a tratar, los presentadores y cualquier
            otro detalle relevante que atraiga a la audiencia.
          </p>
          <button class="watch-button">Gobernación TV</button>
        </div>

      </div>
    </div>
  </div>
</div>