<div class="row mb-5">
  <div class="col-12">
    <div class="d-flex align-items-center">
      <h2 class="text-left television__titulo">Transmisión en vivo</h2>
      <span class="live-indicator ml-2">
        <span class="live-circle"></span>
        EN DIRECTO
      </span>
    </div>
  </div>

  <!-- Tv en vivo -->
  <div class="col-12 mt-2">
    <div class="container-tv">

      <div class="program">

        <!-- Videos -->
        <div class="video-player">
          <!-- Iframe para YouTube en vivo -->
          <iframe width="100%" height="400" [src]="this.urlGlobal" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>

        <!-- Titulos -->
        <div class="program-details">
          <h4>{{ this.datosTransmision[0]?.programa }}</h4>
          <p class="time">{{ this.datosTransmision[0]?.horario }}</p>
          <p class="description">{{ this.datosTransmision[0]?.descripcion }}</p>

          <a class="watch-button" [routerLink]="[ '/web/gobernaciontv']">Gobernación TV</a>

        </div>

      </div>
    </div>
  </div>
</div>