<div class="row">
  <div class="col-12">
    <h2 class="text-left television__titulo">Transmisión en vivo</h2>
  </div>


  <!-- Tv en vivo -->
  <div class="col-12 mt-4">

    <div class="container-tv">

      <div class="program">

        <div class="video-player">
          <video controls>
            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
            Tu navegador no soporta la etiqueta de video.
          </video>
        </div>

        <div class="program-details">
          <h2>Nombre del Programa</h2>
          <p class="time">Horario: 18:00 - 19:00</p>
          <p class="description">
            Descripción del programa: Un resumen breve de lo que trata el programa,
            incluyendo información sobre los temas a tratar, los presentadores y cualquier
            otro detalle relevante que atraiga a la audiencia.
          </p>
          <button class="watch-button">Ver en Vivo</button>
        </div>

      </div>
    </div>

  </div>

</div>