<!-- <header class="fixed-top2"> -->
<header class="">
  <a [routerLink]="['/web/inicio']">
    <div class="logo">
      <img src="./../../../../../assets/img/logo3.png" alt="Logo Cochabamba">
      <!-- <img src="" alt="Logo Cochabamba"> -->
    </div>
  </a>
  <nav class="">
    <ul class="menu">
      <li>
        <a [routerLink]="[ '/web/inicio' ]" routerLinkActive="active">Inicio</a>
      </li>
      <li class="dropdown">
        <a class="servicio-al-ciudadano">Servicio al Ciudadano</a>
        <ul class="dropdown-content">
          <li><a href="#seguimiento-tramites">Seguimiento de Trámites</a></li>
          <li><a href="#calcula-impuesto">Calcula tu Impuesto</a></li>
          <li><a href="#personalidades-juridicas">Personalidades Jurídicas</a></li>
          <li><a href="#reserva-espacios">Reserva de Espacios Deportivos</a></li>
          <li><a href="#licencia-operadores">Licencia de Operadores de Turismo</a></li>
          <li><a href="#comunidad-turismo">Comunidad de Turismo</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#comunicacion">Comunicación</a>
        <ul class="dropdown-content">
          <li><a href="#gobernacion-tv">Gobernación TV</a></li>
          <li><a [routerLink]="[ '/web/radio' ]">Gobernación Radio</a></li>
          <li><a href="#semanario-digital">Semanario Digital</a></li>
          <li><a [routerLink]="[ '/web/mediateka' ]">Mediateca</a></li>
          <li><a href="#jaku">JAKU</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="[ '/web/gaceta' ]" routerLinkActive="active">Gaceta</a>
      </li>
      <li class="dropdown">
        <a href="#transparencia">Transparencia</a>
        <ul class="dropdown-content">
          <li><a [routerLink]="[ '/web/denuncias' ]">Denuncia</a></li>
          <li><a [routerLink]="[ '/web/sugerencias' ]">Sugerencia</a></li>
          <li><a [routerLink]="[ '/web/rendicion-cuentas' ]">Rendición de Cuentas</a></li>
          <li><a [routerLink]="[ '/web/convocatorias' ]">Convocatorias</a></li>
          <li><a [routerLink]="[ '/web/auditoria' ]">Auditorías</a></li>
        </ul>
      </li>
      <li class="iconos">
        <a href="#"><i class="bi bi-twitter-x"></i></a>
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-tiktok"></i></a>
        <a href="#"><i class="bi bi-youtube"></i></a>
        <a href="#"><i class="bi bi-whatsapp"></i></a>

        <!-- Implementación de radio Gobernación con tooltip que permanece -->
        <a (click)="toggleRadio()" class="radio-button">
          <!-- Cambia el ícono o imagen dependiendo del estado -->
          <ng-container *ngIf="radioService.playing; else showIcon">

            <img src="../../../../../assets/img/gifoficial.gif" alt="Reproduciendo" style="width: 30px; height: auto;">
            <!-- Tooltip que permanece visible mientras la radio esté reproduciendo -->

            <span class="tooltip-text visible">
              <i class="fas fa-pause text-pause"></i>
              Detener radio en linea
            </span>
          </ng-container>
          <ng-template #showIcon>
            <i class="mdi mdi-radio"></i>
            <!-- Tooltip que aparece solo en hover cuando la radio está detenida -->
            <span class="tooltip-text">
              <!-- <i class="fas fa-play"></i> -->
              Reproducir radio</span>
          </ng-template>
        </a>





        <a href="#"><i class="bi bi-broadcast"></i></a>
      </li>
    </ul>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>