/* Estilos para el encabezado */
header {

  background-color: rgb(0, 127, 198);
  /* Color de fondo del header */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  color: white;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  /* Texto blanco para contrastar con el fondo */
}

ul {
  list-style: none;
}

@media(min-width: 1253px) {

  header {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 28px;
  }

}

@media(min-width: 1550px) {
  header {
    flex-direction: row;
  }

  .logo {
    margin-bottom: 0px;
  }
}

.logo img {
  width: 245px;
  /* height: 60px; */
}

nav {
  /* flex-grow: 1; */
  text-align: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}

.menu li {
  position: relative;
}

.menu a {
  color: white;
  /* Color del texto en los enlaces */
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-size: 0.96rem !important;
  font-weight: 400;
  transition: background 0.3s, color 0.3s;
}

.menu a:hover {
  border-radius: 5px;
  background-color: rgba(3, 105, 163, 0.473);
  color: white
    /* Color del texto al pasar el ratón */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 400px;
  padding-left: 0px;
}

.dropdown-content li {
  padding: 0;
}

.dropdown-content a {
  padding: 1em;
  display: block;
  color: rgb(0, 127, 198);
  /* Color del texto en los elementos desplegables */
}

.dropdown-content a:hover {
  background-color: rgb(0, 127, 198);
  color: white;
  /* Texto blanco al pasar el ratón */
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .iconos a {
  margin: 0 0.5em;
} */


/* Estilos del menú de hamburguesa */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  background: white;
  /* Color blanco para las barras del menú hamburguesa */
  border-radius: 2px;
  display: block;
  height: 2px;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
  width: 25px;
}

/* Media query para dispositivos móviles */
@media (max-width: 1253px) {
  .menu {
    display: none;
    flex-direction: column;
    background-color: rgb(0, 127, 198);
    /* Color de fondo del menú desplegable móvil */
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
  }

  .menu.active {
    display: flex;
  }

  .dropdown-content {
    position: static;
    box-shadow: none;
  }

  .iconos {
    display: flex;
    justify-content: center;
  }

  .hamburger {
    display: flex;

  }
}

.fixed-top2 {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 1030;
}



/* RADIO ONLYNE */
/* Contenedor del enlace (botón) */
.radio-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

/* Estilos para el tooltip */
.radio-button .tooltip-text {
  visibility: hidden;
  /* Oculto por defecto */
  width: 150px;
  background-color: #fff;
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  /* Coloca el tooltip debajo del icono */
  left: 50%;
  margin-left: -75px;
  /* Centrado */
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
}

/* Triángulo en la parte superior del tooltip */
.radio-button .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  /* Coloca el triángulo arriba del tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
  /* Triángulo apuntando hacia abajo */
}

/* Tooltip visible solo cuando se pasa el mouse por encima */
.radio-button:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Tooltip visible permanentemente cuando la radio está reproduciendo */
.radio-button .tooltip-text.visible {
  visibility: visible;
  opacity: 1;
}

.text-pause {
  color: rgb(0, 127, 198);
}

/* Boottrap */
.imagen-principal {
  margin: 6.5px 0px;
}

.fondo-menu-main {
  background-color: rgb(0, 127, 198);
}

.icon-redes-sociales {
  display: flex;
  gap: 8px;
}

.icon-text {
  font-size: 0.98rem !important;
}

/* Lateral */
.sidebar-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgb(0, 127, 198);
  transition: transform 0.3s ease-in-out;
}

/* Mostrar el sidebar cuando se active la clase */
.sidebar-visible {
  display: flex;
  flex-direction: column;
  position: inherit;
  top: inherit;
  left: inherit;
  width: inherit;
  height: inherit;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  color: white;
  background-color: rgb(0, 127, 198);
  transform: translateX(0);
  /* Asegurarse que se muestre */
}

/* Cuando está oculto, se mueve fuera de la vista */
.sidebar-nav:not(.sidebar-visible) {
  transform: translateX(-100%);
}


.iconos-lateral {
  display: flex;
  gap: 25px;
}

@media (min-width: 1253px) {
  .sidebar-nav {
    display: none;
  }
}