<header class="">
  <a [routerLink]="['/web/inicio']" [ngClass]="{'active': activeLink === 'inicio'}" (click)="setActiveLink('inicio')">
    <div class="logo">
      <img src="./../../../../../assets/img/logo3.png" alt="Logo Cochabamba">
    </div>
  </a>
  <nav class="">
    <ul class="menu">
      <li>
        <a [routerLink]="['/web/inicio']" [ngClass]="{'active': activeLink === 'inicio'}"
          (click)="setActiveLink('inicio')">Inicio</a>
      </li>
      <li class="dropdown">
        <a class="servicio-al-ciudadano" [ngClass]="{'active': activeLink === 'servicio'}"
          (click)="setActiveLink('servicio')">Servicio al Ciudadano</a>
        <ul class="dropdown-content">
          <li><a href="http://portal-ciudadano.gobernaciondecochabamba.bo/#/home/correspondencia"
              target="_blank">Seguimiento de Trámites</a></li>
          <li><a href="https://sisrec.gobernaciondecochabamba.bo/" target="_blank">Calcula tu Impuesto</a></li>

          <!-- Hacer crud -->

          <!-- <li><a href="#personalidades-juridicas" target="_blank">Personalidades Jurídicas</a></li>
          <li><a href="#reserva-espacios" target="_blank">Reserva de Espacios Deportivos</a></li>
          <li><a href="#licencia-operadores" target="_blank">Licencia de Operadores de Turismo</a></li>
          <li><a href="#comunidad-turismo" target="_blank">Comunidad de Turismo</a></li> -->


        </ul>
      </li>
      <li class="dropdown">
        <a [ngClass]="{'active': activeLink === 'comunicacion'}"
          (click)="setActiveLink('comunicacion')">Comunicación</a>
        <ul class="dropdown-content">
          <li><a [routerLink]="['/web/gobernaciontv']">Gobernación TV</a></li>
          <li><a [routerLink]="['/web/radio']" [ngClass]="{'active': activeLink === 'radio'}"
              (click)="setActiveLink('radio')">Gobernación Radio</a></li>
          <li><a [routerLink]="['/web/semanario']" [ngClass]="{'active': activeLink === 'semanario'}"
              (click)="setActiveLink('semanario')">Semanario Digital</a></li>
          <li><a [routerLink]="['/web/mediateka']" [ngClass]="{'active': activeLink === 'mediateka'}"
              (click)="setActiveLink('mediateka')">Mediateca</a></li>
          <li><a [routerLink]="['/web/jaku']">JAKU</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/web/gaceta']" [ngClass]="{'active': activeLink === 'gaceta'}"
          (click)="setActiveLink('gaceta')">Gaceta</a>
      </li>
      <li class="dropdown">
        <a [ngClass]="{'active': activeLink === 'transparencia'}"
          (click)="setActiveLink('transparencia')">Transparencia</a>
        <ul class="dropdown-content">
          <li><a [routerLink]="['/web/denuncias']" [ngClass]="{'active': activeLink === 'denuncias'}"
              (click)="setActiveLink('denuncias')">Denuncia</a></li>
          <li><a [routerLink]="['/web/sugerencias']" [ngClass]="{'active': activeLink === 'sugerencias'}"
              (click)="setActiveLink('sugerencias')">Sugerencia</a></li>
          <li><a [routerLink]="['/web/rendicion-cuentas']" [ngClass]="{'active': activeLink === 'rendicion'}"
              (click)="setActiveLink('rendicion')">Rendición de Cuentas</a></li>
          <li><a [routerLink]="['/web/convocatorias']" [ngClass]="{'active': activeLink === 'convocatorias'}"
              (click)="setActiveLink('convocatorias')">Convocatorias</a></li>
          <li><a [routerLink]="['/web/auditoria']" [ngClass]="{'active': activeLink === 'auditorias'}"
              (click)="setActiveLink('auditorias')">Auditorías</a></li>
        </ul>
      </li>
      <li class="iconos">
        <a [href]="this.despacho?.despacho.linkTwitter" target="_blank"><i class="bi bi-twitter-x"></i></a>
        <a [href]="this.despacho?.despacho.linkFacebook" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://www.tiktok.com/@gobernaciondecochabamba" target="_blank"><i class="bi bi-tiktok"></i></a>
        <a [href]="this.despacho?.despacho.linkYoutube" target="_blank"><i class="bi bi-youtube"></i></a>

        <!-- Whatsapp -->
        <a href="#"><i class="bi bi-whatsapp"></i></a>

        <!-- Implementación de radio Gobernación -->
        <a (click)="toggleRadio()" class="radio-button">
          <ng-container *ngIf="radioService.playing; else showIcon">
            <img src="../../../../../assets/img/gifoficial.gif" alt="Reproduciendo" style="width: 30px; height: auto;">
            <span class="tooltip-text visible">
              <i class="fas fa-pause text-pause"></i>
              Detener radio en linea
            </span>
          </ng-container>
          <ng-template #showIcon>
            <i class="mdi mdi-radio"></i>
            <span class="tooltip-text">Reproducir radio</span>
          </ng-template>
        </a>

        <!-- Television en linea -->
        <a [routerLink]="['/web/gobernaciontv']"><i class="bi bi-broadcast"></i></a>
      </li>
    </ul>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>