<!-- GOBERNACIÓN -->


<!-- Modal Bootstrap -->
<div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 800px;">
    <div class="modal-content">

      <div class="modal-body">
        <img [src]="this.base_url + '/storage/uploads/'+ this.modalTv[0]?.imagen " class="img-fluid" width="100%"
          height="100%" alt="Informacion importante">
      </div>

      <div class="modal-footer d-flex justify-content-between">
        <a href="" class="btn btn-info">Ver más</a>
        <button type="button" class="btn btn-secondary" id="btnFooterCloseModal">Cerrar</button>
      </div>

    </div>
  </div>
</div>




<div #header id="header">
  <app-header-gadc style="z-index: 2500;"></app-header-gadc>
</div>

<div class="container" style="max-width: 1600px;">

  <div #television [ngClass]="{'live-css': this.liveCss}">
    <br><br>
    @defer (on viewport(television)) {
    <app-television-gadc></app-television-gadc>
    }
  </div>


  <br><br>
  <div #ultimasnoticias>
    @defer (on viewport(ultimasnoticias)) {
    <app-ultimas-noticias></app-ultimas-noticias>
    }
  </div>

  <br><br>
  <div #bannerpublicitario>
    @defer (on viewport(bannerpublicitario)) {
    <app-banner-publicidad></app-banner-publicidad>
    }
  </div>



  <br><br>
  <div #pilaresgestion>
    @defer (on viewport(pilaresgestion)) {
    <app-pilargestion-gadc></app-pilargestion-gadc>
    }
  </div>

  <br><br>
  <div #gobierno>
    @defer (on viewport(gobierno)) {
    <app-gobierno-gadc></app-gobierno-gadc>
    }
  </div>
</div>


<br><br>
<app-footer-gadc></app-footer-gadc>



<!-- FIN GOBERNACIÓN -->