<!-- GOBERNACIÓN -->


<div #header id="header">
  <app-header-gadc></app-header-gadc>
</div>

<div class="container" style="max-width: 1600px;">

  <br><br>
  <div #ultimasnoticias>
    @defer (on viewport(ultimasnoticias)) {
    <app-ultimas-noticias></app-ultimas-noticias>
    }
  </div>

  <br><br>
  <div #bannerpublicitario>
    @defer (on viewport(bannerpublicitario)) {
    <app-banner-publicidad></app-banner-publicidad>
    }
  </div>

  <br><br>
  <div #television>
    @defer (on viewport(television)) {
    <app-television-gadc></app-television-gadc>
    }
  </div>

  <br><br>
  <div #pilaresgestion>
    @defer (on viewport(pilaresgestion)) {
    <app-pilargestion-gadc></app-pilargestion-gadc>
    }
  </div>

  <br><br>
  <div #gobierno>
    @defer (on viewport(gobierno)) {
    <app-gobierno-gadc></app-gobierno-gadc>
    }
  </div>
</div>


<br><br>
<app-footer-gadc></app-footer-gadc>



<!-- FIN GOBERNACIÓN -->