.live-css {
    display: none;
}

.television__titulo {
    font-size: 2rem;
    color: #30336b;
    text-transform: uppercase;
}

.watch-button {
    padding: 10px 15px;
    background-color: rgb(10, 131, 201);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.watch-button:hover {
    background-color: #0056b3;
}

.contenedor-principal {
    max-width: 1600px;
}