<div class="row">
    <div class="fondo-header col-12">
        <h2 class="text-center jaku-titulo text-uppercase">Jaku</h2>
    </div>
</div>

<div class="row mt-3 tarjeta">
    <div class="col-12">
        <div class="container-tv">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-left text-uppercase">Jaku tu tarjeta de información digital</h2>
                </div>
            </div>
            <div class="programs-grid mt-2">

                <!-- Loop a través de los items obtenidos del servicio -->
                <div *ngFor="let item of this.listJaku"
                    class="program border d-flex flex-column justify-content-between">

                    <div class="">
                        <!-- portada -->
                        <div class=" contenedor-img">
                            <!-- <img src="../../../../assets/img/alcaldia.jpg" alt="Tarjeta digital Jaku"> -->
                            <img src="{{ this.baseUrl + '/storage/uploads/' + item.imagen }}" alt="">
                        </div>

                        <div class="p-2">
                            <!-- Título de la tarjeta -->
                            <h4 class="text-left mt-0 mb-0">{{ item.nombre }}</h4>
                        </div>
                    </div>
                    <!-- <a class="watch-button ml-2 mb-2 font-weight-normal"
                        style="color: rgb(0, 127, 198); cursor: pointer;" (click)="this.enviarItem(item)"> Ver
                        programa</a> -->

                    <div class="d-flex justify-content-center">
                        <a [routerLink]="[ '/web/jaku-detalle', item.id, item.nombre ]"
                            class="ml-2 mb-2 font-weight-normal text-uppercase"
                            style="color: rgb(0, 127, 198); cursor: pointer;"> Ver
                            tarjeta</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-gadc></app-footer-gadc>