   /* Rellenando toda la pantalla */
   #carouselExampleIndicators2 {
     height: 55vh;
     /* 100% of viewport height */
   }

   .carousel-inner {
     height: 100%;
     /* 100% of parent height */
   }

   .carousel-item {
     height: 100%;
     /* 100% of parent height */
   }

   .img-carrusel {
     width: 100%;
     height: 100%;
     object-fit: cover;
   }

   .carousel-control-prev,
   .carousel-control-next {
     top: 50%;
     transform: translateY(-50%);
   }

   /* FIN Rellenando toda la pantalla */

   /* Mensajes en pantalla */
   .borde {
     border: 2px solid black;
   }

   /* FIN Mensajes en pantalla */

   /* Posicionamiento del mensaje en las imagenes de carrusel */
   .carousel {
     position: relative;
   }

   /* FIN Posicionamiento del mensaje en las imagenes de carrusel */
