<div class="row justify-content-center">
  <div class="col-12">
    <h2 class="text-left gobierno__titulo">Gobierno</h2>
  </div>

  <div class="row">
    <div class="col-12 mt-3">
      <div class="secretarias-container">
        <div class="secretaria">Secretaría de......</div>
        <div class="secretaria">Secretaría de......</div>
        <div class="secretaria">Secretaría de......</div>
        <div class="secretaria">Secretaría de......</div>
        <div class="secretaria">Secretaría de......</div>
        <div class="secretaria">Secretaría de......</div>
        <div class="secretaria">Secretaría de......</div>
        <div class="secretaria">Secretaría de......</div>
        <div class="secretaria">Secretaría de......</div>
        <div class="secretaria">Secretaría de......</div>
      </div>
    </div>
  </div>
</div>
