.gobierno__titulo {
  font-size: 2rem;
  color: #30336b;
  text-transform: uppercase;
}

.secretarias-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.8em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.secretaria {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  color: #003366;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  position: relative;
  /* Necesario para que el tooltip sea relativo a este contenedor */
  overflow: visible;
  /* Permite que el tooltip sea visible fuera del contenedor */
}

@media (min-width: 768px) {
  .secretaria {
    width: 190px;
    height: 190px;
  }
}

.secretaria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.secretaria:hover {
  transform: translateY(-10px);
}

/* Media query para dispositivos móviles */
@media (min-width: 768px) {
  .secretarias-container {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media (min-width: 992px) {
  .secretarias-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Estilos para el tooltip */
.secretaria .tooltip-text {
  visibility: hidden;
  width: 270px;
  background-color: rgba(0, 125, 198, 0.692);
  color: #fafafa;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  /* Mejor centrado horizontal */
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  font-size: 17px;
  font-weight: 400;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Triángulo en la parte superior del tooltip */
.secretaria .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  /* Triángulo blanco */
}

/* Tooltip visible cuando se pasa el mouse por encima */
.secretaria:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}