<div class="row">
    <div class="fondo-header col-12">
        <h2 class="text-center leyes_decretos text-uppercase">Mediateka</h2>
    </div>
</div>

<section class="gallery">

    <!-- Cada elemento multimedia -->
    <article class="media-item"
        *ngFor="let doc of documentos | paginate: { itemsPerPage: this.limite, currentPage: this.page, totalItems: this.totalItems }">

        <!-- Iframe para mostrar el video de YouTube -->
        <iframe width="100%" height="315" [src]="doc.linkDescarga" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>


        <div class="media-info">
            <h2>{{ doc.titulo }}</h2>
            <p>{{ doc.descripcion }}</p>
            <!-- <a href="#" class="view-more ">Ver más</a> -->
        </div>


    </article>

</section>

<!-- Paginación con ngx-pagination -->
<div class="pagination">
    <!-- Control de paginación -->
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="this.pageChanged($event)">
    </pagination-controls>
</div>

<app-footer-gadc></app-footer-gadc>