<!-- Componente Navegación Web -->
<app-navegacion-gadc></app-navegacion-gadc>

<!-- Rutas dinanamicas de web module -->
<router-outlet></router-outlet>


<!-- seccion whatsapp en la web -->
<div class="redes-sociales animated fadeIn fast">

  <!-- <a href="http://m.me/JacBolivia" target="_blank" data-toggle="tooltip" data-placement="top"
    title="Visita nuestra pagina de Facebook" alt="Imagen facebook">
    <img class="img1 text-white" src="../../../../assets/img/facebook_logo.png">
  </a>
  <a href="http://m.me/JacBolivia" target="_blank" data-toggle="tooltip" data-placement="top"
    title="Visita nuestro canal de YouTube" alt="Imagen facebook">
    <img class="img1 text-white" src="../../../../assets/img/youtube.png">
  </a> -->

  <!-- https://easy-peasy.ai/ de pago -->
  <app-chat class=".chat-widget"></app-chat>
</div>
<!-- fin seccion whatsapp en la web -->