/* Redes sociales */

.redes-sociales a img {
  width: 65px;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.10);
  cursor: pointer;
  border-radius: 100%;
  transition: all 300ms;
  animation: resplandor 2s infinite;
}

.redes-sociales a {
  margin-top: 5px;
}

.redes-sociales a:hover img {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.10);
}

@keyframes resplandor {

  0%,
  100% {
    box-shadow: 0 0 5px 2px rgba(251, 252, 252, 0.5);
  }

  50% {
    box-shadow: 0 0 8px 5px rgb(251, 254, 255);
  }
}

/* FIN Redes sociales */


/* Estilos generales para redes sociales */
.redes-sociales {
  position: fixed;
  position: fixed;
  /* Fija la posición sin importar el scroll */
  bottom: 49px;
  /* Distancia desde la parte inferior */
  right: 160px;
  /* Distancia desde la parte derecha */
  z-index: 1000;
  /* Asegura que esté por encima de otros elementos */
  transition: top 1s ease-in-out;
}

/* Efecto específico para <app-chat> */
.chat-widget {
  /* Aquí puedes agregar el estilo base para el chat widget */
  animation: delay-effect 2s ease-in-out !important;
}

@keyframes delay-effect {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Efecto específico para <app-chat> */
.chat-widget {
  /* Aquí puedes agregar el estilo base para el chat widget */
  animation: delay-effect 2s ease-in-out;
}

@keyframes delay-effect {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}