  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">

          <!-- Para el perfil de usuario -->
          <li class="user-profile">
            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img
                src="../assets/images/users/profile.png" alt="user" /><span class="hide-menu">Steave
                Jobs </span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="javascript:void()">My Profile </a></li>
              <li><a href="javascript:void()">My Balance</a></li>
              <li><a href="javascript:void()">Inbox</a></li>
              <li><a href="javascript:void()">Account Setting</a></li>
              <li><a href="javascript:void()">Logout</a></li>
            </ul>
          </li>
          <li class="nav-devider"></li>

          <!-- Para las secciones de la barra lateral -->
          @for (item of this.menu; track item.titulo) {
          <li class="nav-small-cap text-uppercase">{{ item.seccion }}</li>
          <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                class="{{ item.icono }}"></i><span class="hide-menu">{{ item.titulo }} <span
                  class="label label-rouded label-danger pull-right">{{ item.submenu.length }}</span></span></a>
            <ul aria-expanded="false" class="collapse">

              @for (element of item.submenu; track element.titulo) {
              <li>
                <a [routerLink]="element.url" routerLinkActive="active">{{ element.titulo }}</a>
              </li>
              } @empty {
              <li>No existe mas items para recorrer </li>
              }
            </ul>
          </li>
          } @empty {
          <li>No existe mas items para recorrer </li>
          }

        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
