<div class="row justify-content-center">

    <div class="fondo-header col-12">
        <h2 class="text-center secretarias-titulo text-uppercase">{{ this.secretaria?.nombre }}</h2>
    </div>


    <div class="col-12">

        <main>

            <section class="info">
                <h2>Información General</h2>
                <div class="info--personalizado">
                    <div class="logo-secretaria">
                        <img [src]="this.secretaria?.imagenIcono" alt="Icono" class="icono img-thumbnail">
                    </div>
                    <div class="info-secretaria">
                        <p><strong>Secretario Departamental:</strong></p>
                        <p>{{ this.secretaria?.lugar }}</p>
                        <p><strong>Objetivo:</strong></p>
                        <p>{{ this.secretaria?.objetivo }}</p>
                    </div>
                </div>
            </section>

            <!-- <section class="mision-vision">
                <div class="mision">
                    <h3>Misión</h3>
                    <p>{{ this.secretaria?.mision }}</p>
                </div>
                <div class="vision">
                    <h3>Visión</h3>
                    <p>{{ this.secretaria?.vision }}</p>
                </div>
            </section> -->

            <section class="historia">
                <h2>Organigrama</h2>
                <!-- <iframe [src]="pdfUrl" width="100%" height="600px" style="border: none;"></iframe> -->
                <img [src]="this.secretaria?.organigrama" alt="Organigrama individual" style="width: 100%;">
            </section>

            <!-- <section class="organigrama">
                <h2>Organigrama</h2>
                <img [src]="this.secretaria?.organigrama" alt="Organigrama">
            </section> -->

            <section class="contacto">
                <h2>Contacto</h2>
                <p><strong>Teléfonos:</strong> {{ this.secretaria?.telefonos }}</p>
                <p><strong>Celular/WhatsApp:</strong> {{ this.secretaria?.celularWhatsapp }}</p>
                <p><strong>Email:</strong> <a [href]="this.secretaria?.email">mineriagobernaciondecochabamba.bo</a></p>
                <div class="redes-sociales">
                    <a [href]="this.secretaria?.linkFacebook" target="_blank">Facebook</a>
                    <a [href]="this.secretaria?.linkInstagram" target="_blank">Instagram</a>
                    <a [href]="this.secretaria?.linkTwitter" target="_blank">Twitter</a>
                    <a [href]="this.secretaria?.linkYoutube" target="_blank">YouTube</a>
                </div>
            </section>

            <section class="ubicacion">
                <h2>Ubicación</h2>
                <p><strong>Dirección:</strong> {{ this.secretaria?.direccion }}</p>

            </section>
        </main>
    </div>

</div>
<app-footer-gadc class="footer-radio"></app-footer-gadc>