<div class="row">
    <div class="fondo-header col-12">
        <h2 class="text-center leyes_decretos">LEYES Y DECRETOS</h2>
    </div>
</div>

<div class="menu">
    <div class="menu-item active">
        <div class="menu-icon"></div>
        <span>DECRETO DEPARTAMENTAL</span>
    </div>
    <div class="menu-item">
        <div class="menu-icon"></div>
        <span>ESTATUTO DEPARTAMENTAL</span>
    </div>
    <div class="menu-item">
        <div class="menu-icon"></div>
        <span>LEY DEPARTAMENTAL</span>
    </div>
    <div class="menu-item">
        <div class="menu-icon"></div>
        <span>RESOLUCIÓN ADMINISTRATIVA</span>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="row justify-content-center">
            <div class="image-container">
                <img src="../../../../assets/img/logogaceta.jpg" alt="Leyes y decretos">
            </div>
        </div>

        <h2>DECRETO DEPARTAMENTAL N° 6182 DE 03 DE SEPTIEMBRE DE 2024</h2>
        <p>Resumen: Otorgar Personalidad Jurídica a la entidad civil sin fines de lucro denominada "ASOCIACIÓN DE
            MUJERES PRODUCTORAS DE PAPA..."</p>
        <ul>
            <li><strong>Fecha Publicación:</strong> 03/09/2024</li>
            <li><strong>Fecha Emisión:</strong> 03/09/2024</li>
            <li><strong>Número Documento:</strong> 6182/2024</li>
        </ul>
        <button>Descargar</button>
    </div>

    <div class="card">
        <div class="row justify-content-center">
            <div class="image-container">
                <img src="../../../../assets/img/logogaceta.jpg" alt="Leyes y decretos">
            </div>
        </div>
        <h2>DECRETO DEPARTAMENTAL N° 6178 DE 03 DE SEPTIEMBRE DE 2024</h2>
        <p>Resumen: Otorgar Personalidad Jurídica a la entidad civil sin fines de lucro denominada "ASOCIACIÓN DE
            COMERCIANTES DE Q'UWAS..."</p>
        <ul>
            <li><strong>Fecha Publicación:</strong> 03/09/2024</li>
            <li><strong>Fecha Emisión:</strong> 03/09/2024</li>
            <li><strong>Número Documento:</strong> 6178/2024</li>
        </ul>
        <button>Descargar</button>
    </div>

    <div class="card">
        <div class="row justify-content-center">
            <div class="image-container">
                <img src="../../../../assets/img/logogaceta.jpg" alt="Leyes y decretos">
            </div>
        </div>
        <h2>DECRETO GUBERNATIVO DEPARTAMENTAL N° 1087 DE 03 DE SEPTIEMBRE DE 2024</h2>
        <p>Resumen: Condecorar a la "ASOCIACIÓN MIXTA DE FRATERNIDADES FOLKLÓRICAS VINTO"...</p>
        <ul>
            <li><strong>Fecha Publicación:</strong> 03/09/2024</li>
            <li><strong>Fecha Emisión:</strong> 03/09/2024</li>
            <li><strong>Número Documento:</strong> 1087/2024</li>
        </ul>
        <button>Descargar</button>
    </div>
</div>