<div class="row">
    <div class="fondo-header col-12">
        <h2 class="text-center leyes_decretos">LEYES Y DECRETOS</h2>
    </div>
</div>

<div class="menu">

    <div class="menu-item" [class.active]="tipoDocumento === 4" (click)="cambiarTipo(4)">
        <!-- <div class="menu-icon"></div> -->
        <span class="font-weight-normal">ESTATUTO DEPARTAMENTAL</span>
    </div>

    <div class="menu-item" [class.active]="tipoDocumento === 3" (click)="cambiarTipo(3)">
        <!-- <div class="menu-icon"></div> -->
        <span class="font-weight-normal">LEY DEPARTAMENTAL</span>
    </div>

    <div class="menu-item" [class.active]="tipoDocumento === 1" (click)="cambiarTipo(1)">
        <!-- <div class="menu-icon"></div> -->
        <span class="font-weight-normal">DECRETOS DEPARTAMENTAL</span>
    </div>
    <div class="menu-item" [class.active]="tipoDocumento === 2" (click)="cambiarTipo(2)">
        <!-- <div class="menu-icon"></div> -->
        <span class="font-weight-normal">DECRETOS GOBERNATIVO</span>
    </div>
    <div class="menu-item" [class.active]="tipoDocumento === 5" (click)="cambiarTipo(5)">
        <!-- <div class="menu-icon"></div> -->
        <span class="font-weight-normal">RESOLUCIÓN DEPARTAMENTAL</span>
    </div>
    <div class="menu-item" [class.active]="tipoDocumento === 6" (click)="cambiarTipo(6)">
        <!-- <div class="menu-icon"></div> -->
        <span class="font-weight-normal">RESOLUCIÓN ADMINISTRATIVA</span>
    </div>
    <div class="menu-item" [class.active]="tipoDocumento === 7" (click)="cambiarTipo(7)">
        <!-- <div class="menu-icon"></div> -->
        <span class="font-weight-normal">PERSONALIDAD JURIDICA</span>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-lg-6 d-flex pb-4 pt-5">
        <input type="text" class="form-control" [(ngModel)]="this.search">
        <button type="button" class="btn btn-info ml-lg-2" (click)="buscar()"><i class="fa fa-search"></i>
            BUSCAR</button>
    </div>
</div>

<div class="container">
    <div class="grid-card"
        *ngFor="let doc of this.documentos | paginate: { itemsPerPage: this.limite, currentPage: this.page, totalItems: this.totalItems }">
        <div class="card gaceta">

            <div class="row justify-content-center">
                <div class="image-container">
                    <img src="../../../../assets/img/logogaceta.jpg" alt="Leyes y decretos">
                </div>
            </div>

            <h2 class="font-weight-bold">{{ doc.titulo }}</h2>
            <p class="font-weight-normal"><strong>Resumen:</strong> {{ doc.resumen | slice:0:100 }}"</p>
            <ul>
                <li class="font-weight-normal"><strong>Fecha Publicación:</strong>{{ doc.fechaaprobacion }}</li>
                @if(doc.tipo == 3){
                <li class="font-weight-normal"><strong>Fecha Promulgación:</strong> {{ doc.fechapromulgacion }}</li>
                }@else{
                <li class="font-weight-normal"><strong>Fecha Emisión:</strong> {{ doc.fechapromulgacion }}</li>
                }
                <li class="font-weight-normal"><strong>Número Documento:</strong> {{ doc.numerodocumento }}</li>
                @if(doc.anexo != null){
                <li class="font-weight-normal"><strong>Anexo:</strong> <a class="btn btn-link" [href]="doc.url_anexo"
                        target="_blank"> Descargar Anexo</a></li>
                }
            </ul>
            <a class="download" [href]="doc.archivo" target="_blank">Descargar</a>

        </div>
    </div>
</div>

<!-- Paginación con ngx-pagination -->
<div class="pagination">
    <!-- Control de paginación -->
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="this.pageChanged($event)">
    </pagination-controls>
</div>

<app-footer-gadc [ngClass]="{'footer-gaceta': this.opcionGaceta}"></app-footer-gadc>