<div class="row">
    <div class="fondo-header col-12">
        <h2 class="text-center semanario-titulo text-uppercase">Semanario digital</h2>
    </div>
</div>

<div class="flipbook-container mt-3">

    <div id="flipbook" class="flipbook">
        <div class="page"><img src="../../../../assets/img/alcaldia2023.jpg" alt=""></div>
        <div class="page"><img src="../../../../assets/img/1.jpg" alt=""></div>
        <div class="page"><img src="../../../../assets/img/2.jpg" alt=""></div>
        <div class="page"><img src="../../../../assets/img/3.jpg" alt=""></div>
        <div class="page"><img src="../../../../assets/img/4.jpg" alt=""></div>
        <div class="page"><img src="../../../../assets/img/5.jpg" alt=""></div>
    </div>

    <div class="navigation">
        <button type="button" id="prev" class="nav-button"><i class="fas fa-chevron-left"></i></button>
        <button type="button" id="next" class="nav-button"><i class="fas fa-chevron-right"></i></button>
    </div>
</div>