<div class="container-fluid contactanos-container">

  <div class="row">

    <div class="col-12 mb-4">

      <h2 class="text-uppercase h2-web" style="margin-bottom: 0px;">Televisión en linea</h2>
      <P class="circulos text-center">
        <i class="far fa-circle circulos__icons"></i>
        <i class="far fa-circle circulos__icons"></i>
        <i class="far fa-circle circulos__icons"></i>
      </P>

    </div>
    <div class="col-12">
      <!-- <h1 class="display-5">Transmisión en vivo</h1> -->
      <!-- video-player.component.html -->

      <video id="video-player" controls></video>

    </div>
  </div>
</div>
