/* You can add global styles to this file, and also import other style files */

:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ED4C67;
  --primario_oscuro: #353b48;
  --primario_claro: #fbbb00;
  --secundario: #A0DEFF;
  --secundario_oscuro: #5AB2FF;
  --gris: #757575;
  --grisClaro: #DFE9F3;
}

body {
  /* 1rem = 10px */
  /* font-family: 'Open Sans', sans-serif !important; */
  font-family: -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif !important;
}

.p-text {
  font-size: 1.3rem;
  font-weight: 300;
  color: #555;
}

label {
  font-size: 1rem;
  font-weight: 300;
  color: #555;
}

html {
  scroll-behavior: smooth !important;
}

/* Tipografia */
h1 {
  font-size: 9.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

.h2-web {
  font-size: 2rem !important;
}

h1,
h2,
h3 {
  /* font-family: 'PT Sans', sans-serif; */
  font-family: -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif !important;
  text-align: center;
}

/* Titulo y iconos de Seccion noticias */

.circulos {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.circulos__icons {
  color: #fbbb00;
}

/* FIN Titulo y iconos de Seccion noticias */

/* Acelerando las animaciones */
.fast {
  -webkit-animation-duration: 0.3s !important;
  animation-duration: 0.3s !important;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

/* FIN Acelerando las animaciones */

/* Aumentar ancho y alto de input globalmente */
input {

  /* Puedes definir un ancho máximo si lo deseas */
  height: 50px;
  /* Ajusta a la altura que necesites, por ejemplo, 40px */
  box-sizing: border-box;
  /* Esto asegura que el padding y el borde se incluyan en el ancho total */
}

/* FIN Aumentar ancho y alto de input globalmente */


.leer-mas {
  display: inline-block;
  background-color: rgb(0, 127, 198);
  /* Color del botón */
  color: white !important;
  /* Texto blanco para el botón */
  padding: 0.5em 1em;
  border-radius: 25px;
  text-decoration: none;
  transition: background 0.3s;
}

.leer-mas:hover {
  background-color: #005f99;
  /* Color del botón al pasar el ratón */
}

.leer-mas--verde {
  background-color: #77b700
}

.leer-mas--verde:hover {
  background-color: #77b70088
}


.leer-mas--amarillo {
  background-color: #ff9800
}

.leer-mas--amarillo:hover {
  background-color: #ff990077
}

.leer-mas--guindo {
  background-color: #b31558
}

.leer-mas--guindo:hover {
  background-color: #b3155785
}
