.modal-content--borde {
  border-radius: 0.8rem;
}

.modal-content__modal-header--borde {
  border-radius: 0.6rem 0.6rem 0 0;
}

.modal-header--close {

  color: aliceblue !important;
  font-weight: lighter !important;

}

.modal-body--form {
  padding: 2rem;
}
