<div class="row">
    <div class="col-12">
        <h2 class="interes__titulo">Campañas</h2>
    </div>
    <div class="col-12">
        <div class="contenedor-campañas">
            <div class="flex-campañas">
                <a *ngFor="let item of this.bannerPublicidad" [routerLink]="['/web/campanias', item.iug_id ]"
                    class="campaña-item">
                    <img [src]="item.imagen" alt="Campaña 11" class="img-campaña">
                </a>
            </div>
        </div>
    </div>
</div>