<div class="row">
    <div class="fondo-header col-12">
        <h2 class="text-center leyes_decretos text-uppercase">Convocatorias</h2>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-lg-6 d-flex pb-4 pt-5">
        <input type="text" class="form-control" [(ngModel)]="this.search">
        <button type="button" class="btn btn-info ml-lg-2" (click)="buscar()"><i class="fa fa-search"></i>
            BUSCAR</button>
    </div>
</div>


<div class="container mt-3">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="font-bold--text">Nro</th>
                    <th class="font-bold--text">Titulo</th>
                    <th class="font-bold--text">Resumen</th>
                    <th class="font-bold--text">Acciones</th>
                </tr>
            </thead>

            <tbody
                *ngFor="let doc of documentos | paginate: { itemsPerPage: this.limite, currentPage: this.page, totalItems: this.totalItems }">
                <tr>
                    <td style="width: 10%;">{{ doc.con_id }}</td>
                    <td style="width: 20%;">{{ doc.titulo }}</td>
                    <td style="width: 40%;">{{ doc.resumen | slice: 0:200 }}...</td>
                    <td style="width: 10%;"><a [href]="doc.archivo">DESCARGAR</a></td>
                </tr>
            </tbody>


        </table>
    </div>
</div>


<!-- Paginación con ngx-pagination -->
<div class="pagination">
    <!-- Control de paginación -->
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="this.pageChanged($event)">
    </pagination-controls>
</div>

<app-footer-gadc [ngClass]="{'footer-convocatoria': this.opcionAuditoria}"></app-footer-gadc>